<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2020 Contributors to the Eclipse Foundation
   
    See the NOTICE file(s) distributed with this work for additional
    information regarding copyright ownership.
   
    This program and the accompanying materials are made available under the
    terms of the Eclipse Public License 2.0 which is available at
    http://www.eclipse.org/legal/epl-2.0
   
    SPDX-License-Identifier: EPL-2.0
 -->

<!DOCTYPE configuration>

<configuration>

  <!-- 
    This is the logging configuration that is used by the
    Hono Device Registry Docker image while executing the integration tests.

    Any changes made here will be reflected on the next start
    of the Hono Device Registry Docker image only, i.e. the next time

    mvn -Prun-tests verify

    is invoked.
   -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <springProfile name="trace">
    <logger name="org.eclipse.hono" level="DEBUG"/>
    <logger name="org.eclipse.hono.client" level="DEBUG"/>
    <logger name="org.eclipse.hono.client.amqp" level="DEBUG"/>
    <logger name="org.eclipse.hono.connection" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.config" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.model" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.service" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.utils" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.service.credentials" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.service.device" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.service.deviceconnection" level="TRACE"/>
    <logger name="org.eclipse.hono.deviceregistry.service.tenant" level="TRACE"/>
    <logger name="org.eclipse.hono.service.credentials" level="TRACE"/>
    <logger name="org.eclipse.hono.service.management" level="TRACE"/>
    <logger name="org.eclipse.hono.service.management.credentials" level="TRACE"/>
    <logger name="org.eclipse.hono.service.management.device" level="TRACE"/>
    <logger name="org.eclipse.hono.service.management.tenant" level="TRACE"/>
    <logger name="org.eclipse.hono.service.registration" level="TRACE"/>
    <logger name="org.eclipse.hono.service.tenant" level="TRACE"/>

    <logger name="io.netty.handler.logging.LoggingHandler" level="DEBUG"/>

    <logger name="io.vertx.proton.impl" level="INFO"/>
    <logger name="io.vertx.core.net.impl" level="INFO"/>
  </springProfile>

  <springProfile name="dev">
    <logger name="org.eclipse.hono" level="DEBUG"/>
    <logger name="org.eclipse.hono.client" level="DEBUG"/>
    <logger name="org.eclipse.hono.client.amqp" level="DEBUG"/>
    <logger name="org.eclipse.hono.connection" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.config" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.model" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.service" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.mongodb.utils" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.service.credentials" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.service.device" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.service.deviceconnection" level="DEBUG"/>
    <logger name="org.eclipse.hono.deviceregistry.service.tenant" level="DEBUG"/>
    <logger name="org.eclipse.hono.service.credentials" level="DEBUG"/>
    <logger name="org.eclipse.hono.service.management" level="DEBUG"/>
    <logger name="org.eclipse.hono.service.management.credentials" level="DEBUG"/>
    <logger name="org.eclipse.hono.service.management.device" level="DEBUG"/>
    <logger name="org.eclipse.hono.service.management.tenant" level="DEBUG"/>
    <logger name="org.eclipse.hono.service.registration" level="DEBUG"/>
    <logger name="org.eclipse.hono.service.tenant" level="DEBUG"/>

    <logger name="io.netty.handler.logging.LoggingHandler" level="DEBUG"/>

    <logger name="io.vertx.proton.impl" level="INFO"/>
    <logger name="io.vertx.core.net.impl" level="INFO"/>
  </springProfile>

  <springProfile name="prod">
    <logger name="org.eclipse.hono" level="INFO"/>
    <logger name="org.eclipse.hono.client" level="INFO"/>
    <logger name="org.eclipse.hono.client.amqp" level="INFO"/>
    <logger name="org.eclipse.hono.connection" level="INFO"/>

    <logger name="io.netty.handler.logging.LoggingHandler" level="INFO"/>

    <logger name="io.vertx.proton.impl" level="INFO"/>
    <logger name="io.vertx.core.net.impl" level="INFO"/>
  </springProfile>

</configuration>
