<nav aria-label="Navigation">
  <a href="{{ .Site.BaseURL }}" class="project">
    <div class="banner">
      {{ with .Site.Params.logo }}
        <div class="drawerlogo">
          <img src="{{ $.Site.BaseURL }}{{ . }}">
        </div>
      {{ end }}
      <div class="name">
        <strong>{{ .Site.Title }}&trade; {{ with .Site.Params.version }}<span class="version">{{ . }}</span>{{ end }}</strong>
        {{ with .Scratch.Get "repo_id" }}
          <br>
          {{ . }}
        {{ end }}
      </div>
    </div>
  </a>

  <div class="scrollable">
    <div class="wrapper">
      {{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
        <ul class="repo">
          <li class="repo-download">
            <a href="{{ ref . "download.md" }}" title="Download" data-action="download">
              <i class="icon icon-download"></i> Download
            </a>
          </li>
          <li class="repo-stars">
            <a href="{{ .Site.Params.repo_url }}/stargazers" target="_blank" title="Stargazers" data-action="star">
              <i class="icon icon-star"></i> Stars
              <span class="count">&ndash;</span>
            </a>
          </li>
        </ul>
        <hr>
      {{ end }}

      <div class="toc">
        {{ if gt (len .Site.Menus.main) 0 }}
        <ul>
          {{ partial "nav" . }}
        </ul>
        {{ end }}

        {{ if isset .Site.Params "author" }}
        <hr>
        <span class="section">Build Status:</span>

        <ul>
          {{ with .Site.Params.hipp_url }}
          <li>
            <a href="{{ . }}" title="Eclipse Build Status" target="_blank">
              <img src="https://img.shields.io/jenkins/s/https/ci.eclipse.org/hono/job/Hono-CI.svg" />
            </a>
          </li>
          {{ end }}

          <li>
            <a href="https://travis-ci.org/eclipse/hono" title="Travis Build Status" target="_blank">
              <img src="https://travis-ci.org/eclipse/hono.svg?branch=master" />
            </a>
          </li>
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
</nav>
