<div>
    <ul>
        <li>
            <a class="github-button" href="https://github.com/eclipse/hono" data-icon="octicon-star" data-size="large"
               data-show-count="true" aria-label="Star eclipse/hono on GitHub">Star</a>
        </li>
        <li>&copy {{ now.Year }} The Eclipse Hono Project</li>
        <center>
            <li>
                <a href="https://www.eclipse.org" target="_blank"> <img
                        src="{{ .Site.BaseURL }}images/eclipse_foundation_logo.svg"/> </a>
            </li>
        </center>
        <center>
            <li>
                <a href="https://www.eclipse.org/projects/what-is-incubation.php" target="_blank">
                    <img src="{{ .Site.BaseURL }}images/egg-incubation-transparent.png"/>
                </a>
            </li>
        </center>

        <li>
            <a href="http://www.eclipse.org/legal/privacy.php" target="_blank">
                Privacy Policy
            </a>
        </li>
        <li>
            <a href="http://www.eclipse.org/legal/termsofuse.php" target="_blank">
                Terms of Use
            </a>
        </li>
        <li>
            <a href="http://www.eclipse.org/legal/copyright.php" target="_blank">
                Copyright Agent
            </a></li>
        <li>
            <a href="http://www.eclipse.org/legal" target="_blank">
                Legal
            </a></li>
        <li>
            <a href="https://eclipse.org/security" target="_blank">
                Report a Vulnerability
            </a></li>

    </ul>

</div>

<!-- Place this tag in your head or just before your close body tag. -->
<script async defer src="https://buttons.github.io/buttons.js"></script>
