<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

  <!-- 
    This is the logging configuration that is used by the
    locally executing integration test cases.

    Any changes made here will be reflected on the next test
    execution.
   -->

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.eclipse.hono" level="WARN"/>
  <logger name="org.eclipse.hono.client" level="WARN"/>
  <logger name="org.eclipse.hono.client.impl" level="WARN"/>

</configuration>