---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: amqp-messaging-network
    version: "{{ .Chart.AppVersion }}"
    group: {{ .Values.project.groupId }}
  name: hono-dispatch-router-ext
spec:
  ports:
  - name: amqps
    nodePort: 30671
    port: 5671
    protocol: TCP
    targetPort: 5671
  - name: amqp
    nodePort: 30672
    port: 5672
    protocol: TCP
    targetPort: 5672
  selector:
    app: amqp-messaging-network
    role: router
    group: {{ .Values.project.groupId }}
  type: NodePort
