*                                     @sophokles73

/adapter-base/                        @dejanb @sophokles73
/adapter-base-quarkus/                @dejanb @sophokles73
/adapter-base-spring/                 @dejanb @sophokles73

/adapters/                            @calohmn @kaniyan
/adapters/amqp-vertx/                 @calohmn
/adapters/amqp-vertx-base/            @calohmn
/adapters/amqp-vertx-quarkus/         @calohmn

/adapters/coap-vertx/                 @sophokles73
/adapters/coap-vertx-base/            @sophokles73

/adapters/http-vertx/                 @ctron @calohmn
/adapters/http-vertx-base/            @ctron @calohmn
/adapters/http-vertx-quarkus/         @ctron @calohmn

/adapters/lora-vertx-base/            @calohmn
/adapters/lora-vertx-quarkus/         @calohmn

/adapters/mqtt-vertx/                 @ctron @kaniyan
/adapters/mqtt-vertx-base/            @ctron @kaniyan
/adapters/mqtt-vertx-quarkus/         @ctron @kaniyan

/adapters/sigfox-vertx/               @ctron

/cli/                                 @calohmn
/client/                              @calohmn
/client-device-connection-infinispan/ @calohmn @sophokles73

/clients/                             @calohmn

/deploy/                              @dejanb
/deploy/src/main/deploy/openshift/    @ctron 
/deploy/src/main/sandbox/             @sophokles73

/examples/                            @kaniyan

/service-base/                        @dejanb @sophokles73
/service-base-quarkus/                @dejanb @sophokles73
/service-base-spring/                 @dejanb @sophokles73

/services/                                  @dejanb @kaniyan
/services/base-jdbc/                        @ctron
/services/command-router/                   @calohmn
/services/device-registry-base/             @kaniyan
/services/device-registry-jdbc/             @ctron
/services/device-registry-mongodb-quarkus/  @kaniyan

/site/                                @kaniyan @sophokles73
/test-utils/                          @calohmn

