{{- if .Values.deviceRegistryDeployExample }}
apiVersion: apps/v1beta1
kind: StatefulSet
metadata:
  {{- $args := dict "dot" . "component" "service-device-registry" "name" "service-device-registry" }}
  {{- include "hono.metadata" $args | nindent 2 }}
spec:
  replicas: 1
  selector:
    matchLabels:
      {{- include "hono.matchLabels" $args | nindent 6 }}
  template:
    metadata:
      {{- include "hono.metadata" $args | nindent 6 }}
    spec:
    {{- if .Values.deviceRegistry.resetFiles }}
      initContainers:
      - name: copy-example-data
        image: busybox
        command:
        - sh
        - -c
        - cp -u /tmp/hono/example-device-identities.json /var/lib/hono/device-registry/device-identities.json;
          cp -u /tmp/hono/example-credentials.json /var/lib/hono/device-registry/credentials.json;
          cp -u /tmp/hono/example-tenants.json /var/lib/hono/device-registry/tenants.json
        volumeMounts:
        - mountPath: /tmp/hono
          name: conf
        - mountPath: /var/lib/hono/device-registry
          name: registry
    {{- end }}
      containers:
      {{- include "hono.jaeger.agent" . | indent 6 }}
      - image: {{ .Values.deviceRegistry.imageName }}
        imagePullPolicy: IfNotPresent
        name: eclipse-hono-service-device-registry
        ports:
        - name: health
          containerPort: {{ .Values.healthCheckPort }}
          protocol: TCP
        - name: http
          containerPort: 8080
          protocol: TCP
        - name: https
          containerPort: 8443
          protocol: TCP
        - name: amqps
          containerPort: 5671
          protocol: TCP
        - name: amqp
          containerPort: 5672
          protocol: TCP
        env:
        - name: SPRING_CONFIG_LOCATION
          value: file:///etc/hono/
        - name: SPRING_PROFILES_ACTIVE
          value: dev
        - name: LOGGING_CONFIG
          value: classpath:logback-spring.xml
        - name: _JAVA_OPTIONS
          value: "{{ .Values.defaultJavaOptions }}"
        - name: KUBERNETES_NAMESPACE
          valueFrom:
            fieldRef:
              fieldPath: metadata.namespace
        {{- include "hono.jaeger.clientConf" $args | indent 8 }}
        securityContext:
          privileged: false
        volumeMounts:
        - mountPath: /var/lib/hono/device-registry
          name: registry
        - mountPath: /etc/hono
          name: conf
          readOnly: true
        resources:
          limits:
            memory: "256Mi"
        livenessProbe:
          httpGet:
            path: /liveness
            port: {{ .Values.healthCheckPort }}
            scheme: HTTPS
          initialDelaySeconds: 180
        readinessProbe:
          httpGet:
            path: /readiness
            port: {{ .Values.healthCheckPort }}
            scheme: HTTPS
          initialDelaySeconds: 10
      volumes:
      - name: registry
        persistentVolumeClaim:
          claimName: {{ .Release.Name }}-service-device-registry
      - name: conf
        secret:
          secretName: {{ .Release.Name }}-service-device-registry-conf
{{- end }}
