<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="STDOUT" />
  </root>

  <logger name="org.eclipse.hono" level="INFO"/>
  <logger name="org.eclipse.hono.service" level="INFO"/>
  <logger name="org.eclipse.hono.service.amqp" level="INFO"/>
  <logger name="org.eclipse.hono.service.auth" level="INFO"/>
  <logger name="org.eclipse.hono.service.credentials" level="INFO"/>
  <logger name="org.eclipse.hono.service.registration" level="INFO"/>

  <logger name="io.vertx.proton.impl" level="INFO"/>
  <logger name="io.vertx.proton.sasl.impl" level="INFO"/>

</configuration>