{{- if .Values.dataGridExample.enabled }}
apiVersion: v1
kind: Service
metadata:
  {{- $args := dict "dot" . "component" "data-grid" "name" "data-grid" }}
  {{- include "hono.metadata" $args | nindent 2 }}
spec:
  ports:
  - name: rest
    port: 8080
    protocol: TCP
    targetPort: 8080
  - name: hotrod
    port: 11222
    protocol: TCP
    targetPort: 11222
  selector:
    {{- include "hono.matchLabels" $args | nindent 4 }}
  sessionAffinity: None
  type: ClusterIP
{{- end }}
