.copyright {
  margin-top: 3em;
  margin-bottom: 1em;
  overflow: auto;
}

.copyright a {
  border-bottom-style: none;
}

.copyright p {
  margin-top: 0;
}

.copyright div.logo {
  float: right;
  width: 20%;
}

.copyright p.notice {
	margin-top: 27px;
}

.copyright .quickLinks a {
  float: left;
  padding-right: 2em;
}

div.home {
  display: block;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5%;
}

div.home img {
  padding-top: 2%;
  padding-bottom: 2%;
}

.punchline {
  color: orange;
  text-align: center;
  font-size: 2em;
  font-variant: small-caps;
  padding-bottom: 1%;
}

.banner div.drawerlogo {
  background: white;
  border-radius: 100%;
  width: 64px;
  height: 64px;
  transition: box-shadow .4s;
}

.banner div.drawerlogo:hover {
  box-shadow:0 4px 7px rgba(0,0,0,.23),0 8px 25px rgba(0,0,0,.05);
}

.banner .drawerlogo img {
  height: 100%;
  width: 100%;
  padding: 15%;
  position: relative;
  top: -3px
}
