@import url("https://www.eclipse.org/eclipse.org-common/themes/solstice/public/stylesheets/vendor/cookieconsent/cookieconsent.min.css");

/* Themed colors */
:root {
  --primary-accent: #f08712;
  --navbar-border-top: #c55c04;
  --button-border: #c55c04;
  --link-focus: #c55c08;
  --form-shadow: #c55c09;
  --pagination-bg: #f6b771;
  --link-hover-bg: #c55c06;
  --navbar-focus: #f6b771;
}

#footer div.eclipse-logos {
  height: 120px;
}

#footer div.eclipse-logos #logo-eclipse-foundation {
  margin: -20px;
  height: 120px;
}

.alert {
  padding-left: 1.4rem;
  padding-right: 1.4rem;
  border: 1px solid;
  border-radius: .25rem;
}

.alert .alert-heading {
  color: inherit !important;
}

.alert-notice {
  background-color: #c4dfff;
  border-color: #5fb4fc;
  color: inherit !important;
}

.alert-warning {
  background-color: #f89691;
  border-color: #e84e40;
  color: inherit !important;
}

#landing-img {
  display: block;
  margin: 40px auto;
  max-width: 900px;
  box-sizing: border-box;
}

section#landing {
  box-sizing: border-box;
}

section#landing p {
  font-size: 1.3em;
  padding-top: 20px;
  text-align: center;
}

div#all div#content {
  padding-bottom: 3em;
}

div#landing-vp {
  min-height: 100vh;
}

/* prevents that the anchor is positioned behind the menu bar */
:target:before {
  content: "";
  display: block;
  height: 80px;
  margin: -80px 0 0;
}

section,
div.section {
  margin-bottom: 0px;
}

.bar.background-gray {
  background: #757575;
}
.bar.background-white {
  background: var(--primary-accent);
}

.navbar-brand img {
  height: 42px;
}

.navbar ul.nav > li > a {
  text-transform: none;
  text-decoration: none;
}
.navbar.navbar-light ul.nav > li > a:hover,
.navbar.navbar-light ul.nav > li.open > a:hover,
.navbar.navbar-light ul.nav > li > a:focus,
.navbar.navbar-light ul.nav > li.open > a:focus {
  border-top: solid 5px var(--primary-accent);
  background: #555555 !important;
  color: #eeeeee !important;
}
.navbar ul.dropdown-menu li {
  text-transform: none;
}
.navbar ul.dropdown-menu li a {
  color: #eeeeee;
}

.box-simple {
  color: white !important;
}
.box-simple .icon {
  color: white;
  border-color: white;
}
.box-simple h3 {
  color: white;
}
.box-simple p {
  /*color: #999999;*/
  color: white;
}
.box-simple:hover .icon {
  -webkit-transform: scale(1.3, 1.3);
  -ms-transform: scale(1.3, 1.3);
  -o-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}

#heading-breadcrumbs {
  background: none;
  padding: 0;
  margin-bottom: 0;
}
section#landing h1,
#heading-breadcrumbs h1 {
  color: var(--primary-accent);
  font-variant: small-caps;
  text-transform: none;
  font-size: 42px;
  letter-spacing: 0.07em;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 0px;
}

#footer {
  color: #eeeeee;
}
#footer ul a {
  color: #eeeeee;
}

.navbar-default {
  background-color: #555555;
}
.navbar-default .navbar-brand {
  color: #eeeeee;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eeeeee;
  background-color: transparent;
}
.navbar-default .navbar-text {
  color: #eeeeee;
}
.navbar-default .navbar-nav > li > a {
  color: #eeeeee;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #eeeeee;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #eeeeee;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #eeeeee;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #eeeeee;
  }
}

.dropdown-menu {
  background-color: #555555;
}

.home-carousel .owl-carousel .owl-item.active .img-responsive{
  background-color: rgba(255, 255, 255, 0.99);
}

/* Change font size to Bootstrap 4 defaults, which are similar to the values in theme "learn" (used for the documentation). */
html {
  font-size: 1rem;
}

body {
  font-size: 1rem;
  line-height: 1.5;
}

body p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

pre {
  font-size: 0.9rem;
}

/*Dropdown menu*/
/*
.navbar ul.dropdown-menu li a {
  font-size: 0.9rem;
}
*/
.eclipsefdn-adopters ul {
  list-style: none;
  padding-left: 0;
}

.eclipsefdn-adopters ul li {
  display: inline-block;
  padding: 2%;
  width: 50%;
  text-align: center;
}

.eclipsefdn-adopters ul li a img {
  width: 80%;
}
