spec:
  template:
    spec:
      volumes:
      - name: conf
        secret:
          secretName: ${project.artifactId}-conf
      containers:
      - volumeMounts:
        - name: conf
          mountPath: /etc/hono
          readOnly: true
        env:
        - name: SPRING_CONFIG_LOCATION
          value: file:///etc/hono/
        - name: SPRING_PROFILES_ACTIVE
          value: dev
        - name: LOGGING_CONFIG
          value: classpath:logback-spring.xml
        - name: _JAVA_OPTIONS
          value: -Xmx196m
