{{ partial "head" . }}

{{ if (eq (trim .Site.Params.provider " " | lower) "github") | and (isset .Site.Params "repo_url") }}
	{{ $repo_id := replace .Site.Params.repo_url "https://github.com/" ""}}
	{{ .Scratch.Set "repo_id" $repo_id }}
{{ end }}

<div class="backdrop">
	<div class="backdrop-paper"></div>
</div>

<input class="toggle" type="checkbox" id="toggle-drawer">
<input class="toggle" type="checkbox" id="toggle-search">
<label class="toggle-button overlay" for="toggle-drawer"></label>

<header class="header">
	{{ partial "header" . }}
</header>

<main class="main">
	<div class="drawer">
		{{ partial "drawer" . }}
	</div>

	<article class="article">
		<div class="wrapper">

      <p class="punchline">Connect. Command. Control.</p>

      <div class="home">
        <p>
          Eclipse Hono&trade; provides remote service interfaces for connecting large numbers of IoT devices to a
          back end and interacting with them in a uniform way regardless of the device communication protocol.
        </p>
        <img src="{{ "images/hono_landing_page.svg" | relURL }}" />
        <p>
          Hono specifically supports scalable and secure ingestion of large volumes of sensor data by means of
          its Telemetry and Event APIs. Hono's Command &amp; Control API allows for sending commands
          (request messages) to devices and receive a reply to such a command from a device in an asynchronous way.
        </p>
        <p>
          Finally, Hono provides APIs for integration with existing device and credentials management systems.
        </p>
      </div>

      {{ partial "copyright.html" . }}

			<!--footer class="footer">
				{{ partial "footer" . }}
			</footer-->
		</div>
	</article>

	<div class="results" role="status" aria-live="polite">
		<div class="scrollable">
			<div class="wrapper">
				<div class="meta"></div>
				<div class="list"></div>
			</div>
		</div>
	</div>
</main>

{{ partial "footer_js" . }}
